@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.center{
  text-align: center;
}

.yellow{
  color: #FFB300;
}

.green{
  color: #00C852;
}

.bg-yellow{
  background-color: #FFB300;
}

.bg-green{
  background-color: #0F9D58;
}

.border-green{
  border: solid 1px #00C852;
}

.border-yellow{
  border: solid 1px #FFB300;
}

.border-blue{
  border: solid 1px #3E7EF0;
}

.bannerImg{
  height: 749px;
  width: 100%;
  background-image: url(../images/events.jpeg);
}

.navbar{
  width: 100%;
  background: #3E7EF0;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar div {
  padding: 15px;
}

.about {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about-card{
  width: 75%;
  margin-bottom: 25px;
  box-shadow: 0px 4px 4px rgba(122, 83, 83, 0.5);
  text-align: center;
  padding: 24px;
}

.card-img{
  margin: 34px 0;
  height: 145px;
}

.card-body{
  text-align: justify;
  margin-bottom: 34px;
}

.card-btn{
  margin: 34px 0 20px 0;
  background-color: #0F9D58;
  color: white;
  width: 186px;
  height: 33px;
  border: 0;
}

.hr{
  width: 90%;
  border: 0;
  height: 1px;
  margin-bottom: 30px;
}

.full-hr{
  width: 90%;
  border: 0;
  height: 1px;
  margin-top: 40px;
}

.event-card {
  display: flex;
  border-bottom: solid 1px hsl(0, 4%, 95%);
  margin: 25px;
  padding-bottom: 25px;
}

.event-card .image {
  width: 100%;
}

.event-card .details{
  margin: 0 0 10px 15px;
  width: 70%;
}

.card-title{
  font-weight: 600;
}

.details > p{
  text-align: justify;
}

.partners{
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.partners > div{
  width: calc(100% / 3);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partner-logo{
  width: 50px;
  margin-bottom: 0px;
  height: 50px;
}

.lighter-footer{
  background-color: #4285F4;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.lighter-footer > div{
  width: 100%;
}

.darker-footer{
  background-color: #0F3F88;
  display: flex;

}

.df-content{
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.df-content img{
  width: 15px;
  height: 15px;
  margin-right: 20px;
}

.left{
  display: flex;
  margin-bottom: 15px;
}

@media only screen and (min-width: 768px) {
  .hr{
    width: 70%;
    margin-bottom: 50px;
  }

  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 60px;
    justify-content: space-between;
  }
  
  .about-card{
    width: calc(80% / 3);
  }

  .blogs-card{
    margin: 0 50px;
  }
  
  /* navigation bar */
  .navbar{
    width: 98%;
    height: 73px;
    position: fixed;
    top:10px;
    left: 1%;
    display: flex;
    align-items: center;
    font-size: 18px;
  }

  .navbar div {
    margin: 0;
  }

  .navbar .title{
    flex-grow: 3; 
    font-weight: 600;
    margin-left: 70px;
  }
  
  .navbar .links{
    flex-grow: 4;
    display: flex;
  }
  
  .links div{
    width: 115px;
  }
  
  .navbar .right{
    flex-grow: 1;
    margin-right: 25px;
    display: flex;
  }

  /* events */
  .events-container{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .event-card{
    display: flex;
    flex-direction: column;
    border: 0;
  }

  .event-card .details{
    margin: 20px 0 10px 0;
    width: 100%;
  }

  .card-title{
    text-align: center;
  }

  .partner-logo{
    width: 120px;
    margin-bottom: 10px;
    height: 75px;
  }

  .partners > div{
    width: 160px;
    height: 190px;
  }

  .full-hr{
    height: 2px;
    width: 100%;
  }

  .lighter-footer{
    display: flex;
    flex-direction: row;
    padding: 20px 190px;
    justify-content: space-between;
    min-height: 200px;
  }
  
  .lighter-footer > div{
    width: calc(100% / 4);
  }

  .darker-footer{
    height: 68px;
    align-items: center;
    font-size: 16px;
  }

  .df-content{
    margin: 0 55px;
    color: white;
    font-weight: bold;
    width: 100%;
    flex-direction: row;
  }
  
  .df-content img{
    width: 20px;
    height: 20px;
    margin-right: 15px;
  }
  
  .left{
    flex-grow: 8;
    display: flex;
    margin-bottom: 0;
  }
  
  .right{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
  }
  
}