@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* text */
a{
  text-decoration: none;
  color: white;
}

.center{
  text-align: center;
}

.bold{
  font-weight: bold;
}

.justify{
  text-align: justify;
}

.yellow{
  color: #FFB300;
}

.green{
  color: #00C852;
}

.section-heading{
  font-weight: bold;
  font-size: 28px;
}

/* borders and backgrounds */
.bg-yellow{
  background-color: #FFB300;
}

.bg-green{
  background-color: #0F9D58;
}

.border-green{
  border: solid 1px #00C852;
}

.border-yellow{
  border: solid 1px #FFB300;
}

.border-blue{
  border: solid 1px #3E7EF0;
}

/* buttons */
.primary-btn{
  margin: 34px 0 20px 0;
  background-color: #0F9D58;
  color: white;
  width: 186px;
  height: 33px;
  border: 0;
}

/* horizontal rules */
.hr{
  width: 90%;
  border: 0;
  height: 1px;
  margin-bottom: 30px;
}

.full-hr{
  width: 90%;
  border: 0;
  height: 1px;
  margin-top: 40px;
}

/* header */
.navbar{
  width: 100%;
  background: #3E7EF0;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar .content{
  margin: 0 auto;
  width: 90%;
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  line-height: 35px;
}

.navbar .content .title{
  width: 200px;
  font-size: 18px;
}

.navbar .content .links{
  width: 520px;
  display: flex;
  justify-content: space-between;
}

.navbar .content .right{
  width: 120px;
  display: flex;
  justify-content: space-between;
}

/* images */
.banner-img{
  height: 700px;
  width: 100%;
  background-image: url(../images/events.jpeg);
}

.card-img{
  width: 150px;
  height: 150px;
  margin: 35px 0;
}

.rounded{
  border-radius: 50%;
}

.big-img{
  width: 286px;
  height: 286px;
  margin: 140px 0 65px 0;
}

/* card content */
.card-body{
  margin-bottom: 34px;
}

/* events */
.event-card {
  display: flex;
  border-bottom: solid 1px hsl(0, 4%, 95%);
  margin: 25px;
  padding-bottom: 25px;
}

.event-card .image {
  width: 100%;
}

.event-card .details{
  margin: 0 0 10px 15px;
  width: 70%;
}

.partners{
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 0 auto;
}

.partners > div{
  width: calc(100% / 3);
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.partner-logo{
  width: 50px;
  margin-bottom: 0px;
  height: 50px;
}

.lighter-footer{
  background-color: #4285F4;
  color: white;
  padding: 25px;
}

.lighter-footer .content{
  margin: 0 auto;
  width: 85%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  min-height: 200px;
}

.lighter-footer div{
  width: 250px;
}

.darker-footer{
  background-color: #0F3F88;
  min-height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.df-content{
  color: white;
  font-weight: bold;
  width: 90%;
  line-height: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


.left{
  display: flex;
}

.df-content .right img{
  width: 15px;
  height: 20px;
  margin-right: 15px;
}

.df-content .left img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  margin-top: 6px;
} 

/* about page */
.about-container{
  width: 85%;
  margin: 0 auto;
}

.about-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  margin: 50px auto;

}

.about-cards .card{
  width: 280px;
  margin-bottom: 50px;
  padding: 24px;
  box-shadow: 0px 4px 4px rgba(122, 83, 83, 0.5);
}

.about-desc{
  font-size: 18px;
  line-height: 22px;
  text-align: justify;
  margin-bottom: 75px;
}

.card-footer{
  line-height: 30px;
}

@media only screen and (min-width: 768px) {
  .hr{
    width: 70%;
    margin-bottom: 50px;
  }

  /* events */
  .events-container{
    width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  
  .event-card{
    display: flex;
    flex-direction: column;
    border: 0;
  }

  .event-card .details{
    margin: 20px 0 10px 0;
    width: 100%;
  }

  .partner-logo{
    width: 120px;
    margin-bottom: 10px;
    height: 75px;
  }

  .partners > div{
    width: 160px;
    height: 190px;
  }

  .full-hr{
    height: 2px;
    width: 100%;
  }

  .left{
    align-items: center;
  }

  .left img{
    margin-top: 0;
  }
}